<h5>Dashboard</h5>
<h3>Welcome {{name}}</h3>
<h6>Student notes</h6>
{{#if notes}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each notes}}
                <tr>
                    <td><a href="/Notes/{{_id}}"></a>{{title}}</td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td class="dash-edit-del-btns">
                        <a href="/notes/edit/{{_id}}" class="btn btn-float"><i class="fas fa-edit fa-small"></i>
                        </a>
                        <form action="/notes/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
<p>You've not created any notes yet</p>
{{/if}}