<div class="row">
    <div class="col s12 m8">
        <h3>{{notes.title}}
            <small>{{{editIcon notes.user user notes._id false}}}</small>
        </h3>
        <div class="card note">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm a'}}</span>
                {{{notes.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">
                    {{{notes.user.firstName}}} 
                    {{#if notes.user.lastName}}
                        {{{notes.user.lastName}}}
                    {{/if}}
                    </span>
                <a href="/notes/user/{{notes.user._id}}"><img src="{{notes.user.image}}" alt="user profile image" class="circle responsive-img img-small"></a>
            </div>
            <div class="card-action">
                <a class="amber-text text-darken-1" href="/notes/user/{{notes.user._id}}">More From {{notes.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>